{% extends 'base.html.twig' %}

{% block title %}Order index{% endblock %}

{% block body %}
    <h1>Order index</h1>

    <form action="{{ path('order_index') }}" method="get">
        <div>
            <input type="radio" id="not_processed" name="state" value="not_processed"
                   checked>
            <label for="not_processed">not_processed</label>
        </div>

        <div>
            <input type="radio" id="processed" name="state" value="processed">
            <label for="processed">processed</label>
        </div>
        <div>
            <input type="submit" value="Send">
        </div>
    </form>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Client_name</th>
                <th>state</th>
                <th>Address</th>
                <th>Phone</th>
                <th>Maximum_date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.clientName }}</td>
                <td>{{ order.state }}</td>
                <td>{{ order.address }}</td>
                <td>{{ order.phone }}</td>
                <td>{{ order.maximumDate ? order.maximumDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('order_show', {'id': order.id}) }}">show</a>
                    <a href="{{ path('order_edit', {'id': order.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('order_new') }}">Create new</a>
{% endblock %}
